.main {
    min-height: 100vh;
    padding-bottom: 4rem;
    /* For mobile tabbar */
}

@media (min-width: 768px) {
    .main {
        padding-bottom: 0;
    }
}

@media (max-width: 768px) {
    .section {
        height: auto !important;
        min-height: auto !important;
        scroll-snap-align: none;
        display: block;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.heading {
    font-family: var(--font-playfair), serif;
    font-style: italic;
    font-size: 2.25rem;
    opacity: 0.5;
}