.main {
    min-height: 100vh;
    padding-bottom: 4rem;
    /* For mobile tabbar */
}

@media (min-width: 768px) {
    .main {
        padding-bottom: 0;
    }
}

.section {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.heading {
    font-family: var(--font-playfair), serif;
    font-style: italic;
    font-size: 2.25rem;
    opacity: 0.5;
}